.commentContainer {
    justify-content: space-between;
    width: 80%;
    height: 50%;
    box-shadow: 0 2px 3px #9d9c9c;
    padding: .3rem;
    margin-bottom: 1rem;
    margin-top: .3rem;
    transition: all 0.3s ease-out;
    
}

.commentContainer:hover {
    background-color: #e6e6e6;
    box-shadow: 0 2px 3px #e6e6e6;
}

.commentCreator {
    border-bottom: 1px solid gray;
}

.commentMessage {
    font-size: .8rem;
}
