.commentContainer {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 50%;
    
    padding: .3rem;
    margin-bottom: 1rem;
    margin-top: .3rem;
    transition: all 0.3s ease-out;
    
}

.commentContainer:hover {
    background-color: #e6e6e6;
    box-shadow: 0 2px 3px #e6e6e6;
}

.commentCreator {
    border-bottom: 1px solid gray;
}

.commentMessage {
    font-size: .8rem;
}
