body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

<<<<<<< HEAD
  color: darkslategrey;
=======
    color: darkslategrey;
>>>>>>> 141ae0c92b2de33dec749834b551bca4d9a03ce6
}
